<ActionBar class="action-bar">
  <Label [text]="cc.title" class="action-bar-title"></Label>
  <NavigationButton android.systemIcon="ic_menu_back" (tap)="close()"></NavigationButton>
  <ActionItem (tap)="delete()">
    <Label text="&#xf1f8;" class="fa"></Label>
  </ActionItem>
</ActionBar>

<StackLayout class="m-20 p-10 container">
  <GridLayout columns="*, auto" class="data info" height="42">
    <Label row="0" col="0" [text]="cc.title" class="" textWrap="true"></Label>
    <Label row="0" col="1" [text]="'#' + cc.volumen" class="volumen"></Label>
  </GridLayout>
  <StackLayout class="info">
    <Label text="{{ 'details.price' | translate }}" class="label"></Label>
    <Label [text]="priceCurrency" class="data"></Label>
  </StackLayout>
  <StackLayout class="info">
    <Label text="{{ 'details.publishedDate' | translate }}" class="label"></Label>
    <Label [text]="cc.detailDates.published" class="data"></Label>
  </StackLayout>
  <StackLayout class="info">
    <Label text="{{ 'details.registryDate' | translate }}" class="label"></Label>
    <Label [text]="cc.detailDates.registry" class="data"></Label>
  </StackLayout>
  <GridLayout class="owned" columns="*, auto" rows="auto, auto" height="auto">
    <ng-container *ngIf="cc.checked">
      <Label row="0" col="0" text="{{ 'details.owned' | translate }}" class="label"></Label>
      <Label row="1" col="0" [text]="cc.detailDates.checked" class="data"></Label>
    </ng-container>
    <ng-container *ngIf="!cc.checked">
      <Label row="0" col="0" rowSpan="2" text=" {{ 'details.notOwned' | translate }}" class="data"></Label>
    </ng-container>
    <StackLayout row="0" col="1" rowSpan="2" class="vcenter hcenter" height="20" horizontalAlignment="right">
      <CheckBox #cb [checked]="checkState.checked" class="m-0 p-0" (checkedChange)="checkUpdate()"></CheckBox>
    </StackLayout>
  </GridLayout>
</StackLayout>