<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="{{ 'add.title' | translate }}"></Label>
</ActionBar>

<StackLayout class="form">
    <form [formGroup]="ccRecordForm" class="form">
        <StackLayout class="input-field">
            <Label class="label font-weight-bold m-b-5" text="{{ 'add.form.title' | translate }}"></Label>
            <TextField autocorrect="false" class="input" #title formControlName="title" returnKeyType="next"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <!-- <div class="autocompleteOptions" *ngIf="showAutocomplete && !lockAutocompleteHidden">
            <div class="close-container">
                <ion-button class="close" color="light" fill="clear" size="small" (click)="hideAutocompleteLock()" no-margin>
                    <ion-icon name="close-circle"></ion-icon>
                </ion-button>
            </div>
            <div class="titles-container">
                <div class="titles-scroll">
                    <ion-button *ngFor="let title of filteredTitles" expand="full" color="tertiary" (click)="selectTitle(title)">{{title}}</ion-button>
                </div>
            </div>
        </div> -->

        <GridLayout rows="auto, auto" columns="*,*">
            <StackLayout class="input-field" row="0" col="0">
                <Label class="label font-weight-bold m-b-5" text="{{ 'add.form.volumen' | translate }}"></Label>
                <TextField autocorrect="false" class="input" #volumen type="number" keyboardType="number" returnKeyType="next" formControlName="volumen"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field" row="0" col="1">
                <Label class="label font-weight-bold m-b-5" text="{{ 'add.form.price' | translate }}"></Label>
                <TextField autocorrect="false" class="input" type="number" keyboardType="number" returnKeyType="next" formControlName="price"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field" row="1" col="0">
                <Label class="label font-weight-bold m-b-5" text="{{ 'add.form.variant' | translate }}"></Label>
                <TextField autocorrect="false" class="input" returnKeyType="next" formControlName="variant"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field" row="1" col="1">
                <Label class="label font-weight-bold m-b-5" text="{{ 'add.form.date' | translate }}"></Label>
                <DatePickerField class="input" formControlName="publishDate" pickerOkText="Approve" pickerCancelText="Reject" pickerTitle="Confirm predefined date selection"></DatePickerField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </GridLayout>

        <StackLayout class="input-field" horizontalAlignment="center" width="50%">
            <Label class="label font-weight-bold m-t-10" horizontalAlignment="center" text="{{ 'add.form.check' | translate }}"></Label>
            <GridLayout rows="auto, auto" columns="*,*">
                <Switch formControlName="checked" class="switch m-0" row="0" col="0"></Switch>
                <Label class="h3 p-15" [text]="checkedText" row="0" col="1" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>

        <Button text="Save this record" class="btn btn-primary" (tap)="save()"></Button>
    </form>


</StackLayout>
