.serie-detail {
    font-size: 11px;
}

.serie {
    &.expanded {
        .serieTitle {
            color: black;
        }

        .serieRows {
            visibility: visible;
        }
    }

    .serieRows {
        visibility: collapsed;
    }
}

.seriesSearchBar {
    width: 100%;
}
