<ActionBar class="action-bar">
  <Label text="Series" class="action-bar-title"></Label>
  <NavigationButton class="action-bar-item" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem ios.position="right" android.position="popup">
    <Label text="&#xf002;" class="fa menu-icon" [ngClass]="{isandro : actionAndroid}" (tap)="searching = !searching"></Label>
  </ActionItem>
</ActionBar>

<DockLayout class="page" stretchLastChild="true">
  <StackLayout *ngIf="searching" class="form input-field m-0 p-0" dock="top">
    <SearchBar id="searchbar" class="seriesSearchBar input" hint="Search a serie by title" (textChange)="filterBar($event)" (clear)="clearFilter($event)"></SearchBar>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>
  <ScrollView dock="bottom" (touch)="unfocusSearch()">
    <GridLayout [rows]="filteredRows">
      <ng-container *ngFor="let serie of seriesFiltered; let i = index">
        <StackLayout [row]="i" class="m-t-5">
          <DockLayout class="serie" [ngClass]="{ expanded: states[serie.name].expanded }" (tap)="expandToggle(serie)">
            <Label text="left" class="m-l-10 m-r-10" dock="left" width="80%" height="100%" verticalAlignment="center" textWrap="true" [text]="serie.name"></Label>
            <Label text="top" class="m-r-10 serie-detail text-right font-weight-bold" dock="top" [text]="serie.records.length + ' records'"></Label>
            <Label text="bottom" class="m-r-10 serie-detail text-right" dock="bottom" [text]="dynCurrency(serie.total)"></Label>
          </DockLayout>
          <StackLayout *ngIf="states[serie.name].expanded" class="m-l-10 m-r-10 m-b-5 p-t-5">
            <app-record-row *ngFor="let cc of states[serie.name].records; let index = index; let odd = odd;" [cc]="cc" [odd]="odd"></app-record-row>
          </StackLayout>
          <StackLayout class="hr-light m-t-5"></StackLayout>
        </StackLayout>
      </ng-container>
    </GridLayout>
  </ScrollView>
</DockLayout>


<!--
  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="{{ 'series.filterPlaceholder' | translate }}" debounce="500" animated [(value)]="filterValue" (ionChange)="filterBar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="working" class="flex fcol fvertical worker margin20">
    <ion-spinner></ion-spinner>
  </div>

  <ion-item-group>
    <ng-container *ngFor="let serie of seriesFiltered">
      <ion-item-divider [ngClass]="{ expanded: states[serie.name].expanded }" no-padding>
        <ion-label class="flex fvertical ion-activatable" (click)="expandToggle(serie)" no-margin ion-activatable>
          <div class="serie-name">{{serie.name}}</div>
          <div class="serie-details">
            <div class="count">{{serie.records.length}} records</div>
            <div class="total">{{dynCurrency(serie.total)}}</div>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-label>

        <div class="card-container" *ngIf="states[serie.name].expanded">

          <div *ngIf="states[serie.name].records.length === 0" class="flex fcenter">
            <ion-spinner></ion-spinner>
          </div>

          <ion-card *ngIf="states[serie.name].records.length > 0" color="dark" no-margin>
            <app-record-row *ngFor="let cc of states[serie.name].records; let index = index; let odd = odd;" [cc]="cc" [odd]="odd"></app-record-row>
          </ion-card>
        </div>
      </ion-item-divider>
    </ng-container>
  </ion-item-group>

  <ng-container *ngIf="showEmpty">
    <ion-text class="flex fcol fvertical marginBottom20">
      <h2>{{ 'noRecords' | translate }}</h2>
      <ion-button strong="false" size="small" color="tertiary" (click)="openAddForm()">{{ 'isEmpty' | translate }}</ion-button>
    </ion-text>
  </ng-container>

  <ng-container *ngIf="filterEmpty">
    <ion-text class="flex fcol fvertical marginBottom20" color="medium">{{ 'isEmptyFilter' | translate }}</ion-text>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddForm()">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
-->