<GridLayout columns="32, *, auto, auto" class="cc-row p-t-5 p-b-5" [ngClass]="{ odd: odd }" (tap)="showDetails()">
  <StackLayout row="0" col="0" class="vcenter hcenter p-r-5" height="20">
    <CheckBox #cb [checked]="checkState.checked" (checkedChange)="checkUpdate()"></CheckBox>
  </StackLayout>
  <Label row="0" col="1" [text]="cc.title" class="vcenter p-l-5 p-r-5" textWrap="true"></Label>
  <Label row="0" col="2" [text]="'#' + cc.volumen" class="vcenter volumen p-l-5 p-r-5 text-right"></Label>
  <Label row="0" col="3" [text]="priceCurrency" class="vcenter p-l-5 p-r-5 text-right"></Label>
</GridLayout>